// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors

$white: rgba(255, 255, 255, 1.0);
$blue: rgba(90, 218, 253, 1.0);

// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import "../node_modules/skeleton-scss/scss/base/normalize";
@import "mixins/flexbox";

// Componenet Imports
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import "components/header";