.videoContainer {
  &:before {
    display: block;
    content: " ";
    background-color: rgba(90, 218, 253, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
  }
  video.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    // background: url(polina.jpg) no-repeat;
    background-size: cover;
  }
}