@import '../css/variables';
@import '../css/mixins';

header {
  color: $white;
  background-color: $blue;
  padding: 40px;
  @include media("<=tablet") {
    padding: 20px;
  }
  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navigation {
    @include flexbox();
    a {
      @include flex();
      list-style: none;
      text-align: center;
      letter-spacing: 2px;
      font-size: 13px;
      padding: 10px 0 0 0;
      vertical-align: middle;
      h1 {
        margin: 0;
        text-indent: -9999px;
        width: 165px;
        height: 30px;
        display: block;
      }
      &:last-child {
        margin-bottom: 4px;
        padding-top: 8px;
        border: 2px solid $white;
        &:hover {
          background-color: $white;
          color: $blue;
        }
      }
    }
  }
  @include media("<=tablet") {
    .navigation {
      @include flex-direction(column);
    }
  }
  h2 {
    &:before {
      content: " ";
      display: block;
      width: 8%;
      height: 3px;
      background-color: $white;
      margin-bottom: 15px;
    }
    text-transform: uppercase;
    font-size: 29px;
  }
  p.context {
    margin-bottom: 40px;
  }
  a.main-link {
    padding: 8px 12px;
    border: 2px solid $white;
    display: inline-block;
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}